.faqContainer {
  background: white;
  padding: 15px 20px;
  margin-top: 20px;
  h3 {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 15px;
  }
}
.accordion {
  width: 100%;
}

.item {
  padding-bottom: 10px;
}

.title {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  background: #f5f5f5;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover {
    background: #eaeaea;
  }
}

.icon {
  font-size: 20px;
  font-weight: bold;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background: #fff;

  p {
    padding: 16px;
  }
}

.show {
  max-height: 200px;
}
