$footer-bgcolor: #151414;
$footer-bottombgColor: #202020;
$footer-color: #fff;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
// $primary-theme-color: #0a163c;
$primary-theme-color: #060f2b;
// $secondary-theme-color: #2596be;
// $secondary-theme-color: #1e4e7e;
$secondary-theme-color: #0a2d50;
