.headercontainer {
  max-width: 1140px;
  margin: 0 auto;
    padding: 10px;

  .header {
    background: #fff;
    margin: 0 auto;
    padding: 10px;
  }

  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    
  }
}
