.carousel_container {
  position: relative;
  .swiperRootContainer {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    .wrapper {
      display: flex;
      flex-wrap: nowrap;
    }
  }
  .swiperRootContainer::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Webkit browsers */
  }
}

.carousel_button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  position: absolute;
  top: 45%;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
}

.right_carousel_button {
  right: -15px;
}

.left_carousel_button {
  left: -20px;
}

.carousel_button .arrow {
  font-size: 24px;
  color: black;
}
