@use "../../styles/variables" as *;
.footer_section {
  background: $primary-theme-color;
  // padding: 4px 0;
  color: #aaa;
}

.footer_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap; // prevents breaking
}

/* Left */
.left_section {
  font-size: 16px;
}

/* Menu */
.footer_menu {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;

  li a {
    font-size: 14px;
    color: #aaa;
    transition: 0.3s;
  }

  li a:hover {
    color: #ff5e14;
  }
}
.socialMediaSection {
  display: flex;
  align-items: center;
  gap: 15px;
  .socialMediaIcons {
    cursor: pointer;
  }
}
