.footer_section {
  background: #151414;
  position: relative;

  .footer_cta {
    padding: 20px 0;
    border-bottom: 1px solid #373636;
    display: grid;
    grid-template-columns: auto;

    .single_cta {
      display: flex;

      svg {
        color: #ff5e14;
        font-size: 25px;
        margin-top: 8px;
      }

      .cta_text {
        padding: 0 0 15px 15px;

        h4 {
          color: #fff;
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 2px;
        }

        span {
          color: #878787;
          font-size: 15px;
        }

        a {
          color: #878787;
          text-decoration: none;
          font-size: 15px;
        }
      }
    }
  }

  .footer_content {
    position: relative;
    padding: 30px 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    .footer_linklist {
      ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        gap: 5px;
        li {
          margin-bottom: 12px;
          a {
            color: #878787;
            text-transform: capitalize;
            text-decoration: none;
          }
        }
        li a:hover {
          color: #ff5e14;
        }
      }
    }
    .footer_heading {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 40px;
      position: relative;
    }
    .footer_heading::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -15px;
      height: 2px;
      width: 50px;
      background: #ff5e14;
    }
    .footer_subscribe {
      p {
        margin-bottom: 14px;
        font-size: 14px;
        color: #7e7e7e;
        line-height: 28px;
      }
      .subscribe_form {
        position: relative;
        input {
          width: 100%;
          padding: 14px 28px;
          background: #2e2e2e;
          border: 1px solid #2e2e2e;
          color: #fff;
          outline: none;
        }
        button {
          position: absolute;
          right: 0;
          background: #ff5e14;
          padding: 14px 20px;
          border: 1px solid #ff5e14;
          top: 0;
          svg {
            color: #fff;
            font-size: 22px;
            transform: rotate(-6deg);
          }
        }
      }
    }
  }

  .footer_bottom {
    background: #202020;
    .copyright_area {
      display: flex;
      justify-content: space-around;
      .copyright_text {
        margin: 0;
        font-size: 14px;
        color: #878787;
        a {
          color: #ff5e14;
        }
      }
      .footer_menu {
        display: none;
        li {
          margin-left: 20px;
          a {
            font-size: 14px;
            color: #878787;
          }
        }
        li:hover a {
          color: #ff5e14;
        }
      }
    }
  }
}

/* 2. Tablet (768px - 1024px) */
@media screen and (min-width: 768px) {
  .footer_section {
    .footer_cta {
      grid-template-columns: auto auto;
    }
    .footer_content {
      .footer_linklist {
        ul {
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          gap: 20px;
        }
      }
    }
    .footer_bottom {
      .copyright_area {
        .footer_menu {
          display: flex;
        }
      }
    }
  }
}

/* 3. Laptop & Desktop (1025px and above) */
@media screen and (min-width: 1025px) {
  .footer_section {
    .footer_cta {
      grid-template-columns: auto auto auto;

      .single_cta {
        .cta_text {
          padding: 0 0 0 15px;
        }
      }
    }
    .footer_content {
      flex-direction: row;
      .footer_linklist {
        flex: 1;
        ul {
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
          gap: 20px;
        }
      }
    }
  }
}
