@use "../../styles/variables" as *;

.footer_section {
  background: $footer-bgcolor;
  position: relative;

  .footer_bottom {
    background: $footer-bottombgColor;

    .copyright_area {
      display: flex;
      justify-content: space-around;

      .copyright_text {
        margin: 0;
        font-size: 14px;
        color: #878787;

        a {
          color: #ff5e14;
        }
      }

      .footer_menu {
        display: none;

        li {
          margin-left: 20px;

          a {
            font-size: 14px;
            color: #878787;
          }
        }

        li:hover a {
          color: #ff5e14;
        }
      }
    }
  }
}

/* 2. Tablet (768px - 1024px) */
@media screen and (min-width: 768px) {
  .footer_section {
    .footer_bottom {
      .copyright_area {
        .footer_menu {
          display: flex;
        }
      }
    }
  }
}

/* 3. Laptop & Desktop (1025px and above) */
@media screen and (min-width: 1025px) {
  .footer_section {
    .footer_content {
      flex-direction: row;

      .footer_linklist {
        flex: 1;
      }
    }
  }
}
