.BlogDetails p {
  line-height: 1.6;
  text-align: justify;
  letter-spacing: 0.4px;
  color: #565656;
}
.BlogDetails p strong {
  color: #000000;
}
.BlogDetailsDescr img {
  border-radius: 10px;
}
.BlogDetails_Image {
  width: 100%;
  height: 260px;
  object-fit: cover;
}
.BlogHeading {
  font-size: 21px;
  font-weight: 600;
}
.BlogDetails h2 {
  font-size: 19px;
  font-weight: 600;
}

.BlogDetailsDescr ul {
  display: block;
  margin: 10px 0 10px 20px !important;
}
.BlogDetailsDescr ul li {
  color: #565656 !important;
  padding: 5px 0 !important;
  white-space: normal !important;
  word-break: break-word;
  line-height: 1.6;
  text-align: justify;
  letter-spacing: 0.4px;
}

/* 2. Tablet (768px - 1024px) */
@media screen and (min-width: 768px) {
  .BlogDetails_Image {
    height: 400px;
  }
  .BlogHeading {
    font-size: 27px;
    margin: 15px 0;
  }
}

/* 3. Laptop & Desktop (1025px and above) */
@media screen and (min-width: 1025px) {
  .BlogDetails {
    width: 70%;
  }
  .BlogDetails_Image {
    height: 500px;
  }
  .BlogHeading {
    font-size: 27px;
  }
  .smallDescription {
    margin: 15px 0px;
    font-size: 16px;
  }
  .BlogDetails h2 {
    font-size: 22px;
    margin: 15px 0px;
  }
  .BlogDetails p,
  .BlogDetailsDescr p {
    font-size: 16px;
  }
  .BlogDetailsDescr ul {
    margin: 10px 0 10px 30px !important;
  }
}
